%h2 All Boards
.cards
  - @boards.each do |board|
    -#= link_to board_path(board) do #

    .card
      .card_content
        .card_title
          .card_name
            = board.name
          .board_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn action_icon'
              .dropdown-content.mini
                = link_to '編集する', edit_board_path(board)
                = link_to '削除する', board_path(board), data: { turbo_method: 'delete', turbo_confirm: '本当に削除してもよろしいですか？' }
        .card_description
          = board.description
        .card_author
          = image_tag 'Oval.png', class: 'author_icon'
  .card_content_new
    = link_to '+ Add new borad' , new_board_path, class: 'card_new_link'
