.container
  %h2 New Board
  = form_with(model: @board, local: true) do |f|
    - if @board.errors.any?
      #error_explanation
        %h2= "#{pluralize(@board.errors.count, 'error')} prohibited this board from being saved:"
        %ul
          - @board.errors.full_messages.each do |msg|
            %li= msg

    %div.field
      = f.label :name, 'Name'
      = f.text_field :name, class: 'text'

    %div.field
      = f.label :description, 'Description'
      = f.text_area :description

    %div.actions
      = f.submit 'Submit', class: 'btn-primary'
