.container
    %h2 Brackets
    .cards
    - @cards.each do |card|
        -#= link_to board_path(board) do #

        .card
        .card_content
            .card_title
            .card_name
            = card.name
            .card_description
            = card.description
            .card_deadline
            = card.deadline
            .card_author
            = image_tag 'Oval.png', class: 'author_icon'
    .card_content_new
        = link_to '+ Add new card' #, new_board_path, class: 'card_new_link'